<a href="https://colab.research.google.com/github/p09323028/2021s_NTU_Big-Data-Marketing/blob/main/Homework/05_%E4%BD%9C%E6%A5%AD_%E5%95%A4%E9%85%92%E8%88%87%E5%B0%BF%E5%B8%83%E5%BB%9A%E5%85%B7%E8%88%87%E5%85%A7%E8%A4%B2%E8%B3%BC%E7%89%A9%E7%B1%83%E5%88%86%E6%9E%90_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Author: Jinze Wu

Student Number: p09323028

In [ ]:
import numpy as np
import pandas as pd
import datetime as dt

# **Download data**
Download data from google cloud

In [ ]:
!gdown --id '1oTtu7K5NVLCp-RKUuyVtwShLnryIVrKc' --output creditcard.xlsx

# **Sheet to DataFrame**

In [ ]:
customer = pd.read_excel('creditcard.xlsx', sheet_name='客戶資料檔')
creditcard = pd.read_excel('creditcard.xlsx', sheet_name='信用卡資料檔')
creditlog = pd.read_excel('creditcard.xlsx', sheet_name='信用卡交易記錄檔')
creditlog = creditlog.iloc[:,:8]

In [ ]:
customer.head()

    客戶ID  年齡         生日    居住地 教育程度   性別 婚姻狀況                職業 辦第一張信用卡的時間
0   7293  57 1955-08-24  大台北地區   專科  1:男   已婚               公務員 2006-11-27
1   5963  29 1983-12-05  大台北地區   學士  1:男   單身            白領一般職員 2009-07-24
2  18700  27 1985-12-20   高屏地區   高中  1:男   單身  藍領(勞動工作或作業員)一般職員 2009-09-22
3    920  39 1973-05-29  大台北地區   學士  1:男   已婚            自營事業老闆 2010-03-05
4   4612  26 1986-01-06   嘉南地區   學士  1:男   單身            白領一般職員 2010-08-05

In [ ]:
creditcard.head()

   信用卡ID   客戶ID     信用卡開卡日     信用卡到期日    信用額度   卡等
0     41   2027 2006-05-19 2015-08-31  500000   金卡
1    814   7437 2002-01-14 2016-01-31  200000   普卡
2    905   6475 2002-05-07 2016-05-31   50000   普卡
3   1142  18841 2001-07-23 2015-07-31  250000   金卡
4   1411  14127 2005-10-03 2016-06-30  270000  白金卡

In [ ]:
creditlog.head()

   交易序號  信用卡ID   客戶ID       刷卡日期   刷卡產品產業分類  刷卡類型  刷卡金額 刷卡地點
0     8   6448  15195 2010-12-01      14_旅遊  一般消費  5200   國內
1     9   6826  13687 2010-12-01    12_量販超市  一般消費   250   國內
2    10   6826  13687 2010-12-01    12_量販超市  一般消費  1316   國內
3    11   7896    179 2010-12-01      10_藥妝  一般消費   218   國內
4    20   9387  16756 2010-12-01  11_3C居家電信  一般消費  2610   國內

# **Create BuyOrNot Table**

In [ ]:
bont = pd.get_dummies(creditlog[['客戶ID','刷卡產品產業分類']], columns=['刷卡產品產業分類'], prefix='', prefix_sep='').groupby('客戶ID').agg(lambda x: 1 if sum(x)>=1 else 0)
bont

       02_學費/教育  03_保險  05_捐贈  06_公用事業  ...  14_旅遊  15_休閒文化  16_無店舖  X2.中信錢加值
客戶ID                                    ...
89            0      0      0        0  ...      1        0       0         0
106           0      0      0        0  ...      1        0       0         0
131           0      1      0        0  ...      1        1       0         0
179           0      0      0        0  ...      0        1       0         0
261           0      0      0        0  ...      0        0       1         0
...         ...    ...    ...      ...  ...    ...      ...     ...       ...
19239         0      0      0        0  ...      1        0       0         0
19483         0      0      1        0  ...      1        1       1         0
19504         0      0      0        0  ...      1        1       0         0
19639         0      0      0        1  ...      1        1       0         0
19859         0      1      0        0  ...      1        1       1         0

[100 rows x 15 columns]

## **Correlation Matrix**

In [ ]:
cordf = bot.corr()
cordf

            02_學費/教育     03_保險     05_捐贈  ...   15_休閒文化    16_無店舖  X2.中信錢加值
02_學費/教育    1.000000  0.357190  0.164221  ...  0.079635  0.185003 -0.051859
03_保險       0.357190  1.000000  0.076469  ...  0.088934  0.191930  0.076469
05_捐贈       0.164221  0.076469  1.000000  ...  0.179416  0.250585 -0.030928
06_公用事業     0.062803 -0.063076  0.076469  ... -0.017574  0.135313 -0.079590
07_百貨      -0.023667  0.150629  0.162314  ...  0.382904  0.263705  0.044695
08_精品       0.003054  0.149429 -0.013356  ...  0.367510  0.255043 -0.013356
09_餐飲       0.091579  0.160552  0.069298  ...  0.319439  0.233933  0.069298
10_藥妝       0.128906  0.272262  0.210964  ...  0.321718  0.366244  0.210964
11_3C居家電信   0.085585  0.204619  0.065708  ...  0.259460  0.304787  0.065708
12_量販超市     0.112611  0.121996  0.115129  ...  0.117861  0.088176  0.115129
13_交通(含加值)  0.144370  0.117579  0.131897  ...  0.318397  0.349133  0.131897
14_旅遊       0.103729  0.393311  0.076591  ...  0.400085  0.177405  0.076591
15_休閒文化     0.079635  0.088934  0.179416  ...  1.000000  0.418192  0.062151
16_無店舖      0.185003  0.191930  0.250585  ...  0.418192  1.000000  0.125916
X2.中信錢加值   -0.051859  0.076469 -0.030928  ...  0.062151  0.125916  1.000000

[15 rows x 15 columns]

# **Create NextBuy Table**

In [ ]:
nbt = creditlog.copy().sort_values(['客戶ID','刷卡日期'])
nbt['shift'] = (nbt['客戶ID'] == nbt['客戶ID'].shift(-1))
nbt['下次刷卡產品產業分類'] = nbt['刷卡產品產業分類'].shift(-1)
nbt = nbt[nbt['shift'] == True]
nbt

       交易序號  信用卡ID   客戶ID       刷卡日期  ...   刷卡金額 刷卡地點  shift  下次刷卡產品產業分類
152     564   8905     89 2010-12-14  ...   1589   國內   True  13_交通(含加值)
263    1016   8905     89 2010-12-24  ...   1623   國內   True  13_交通(含加值)
414    1546   8905     89 2011-01-05  ...   1545   國內   True     12_量販超市
424    1590  14554     89 2011-01-05  ...   1952   國內   True  13_交通(含加值)
510    2011   8905     89 2011-01-17  ...   1550   國內   True     12_量販超市
...     ...    ...    ...        ...  ...    ...  ...    ...         ...
7222  28620   6619  19859 2012-10-17  ...  21089   國內   True       09_餐飲
7334  28976   6619  19859 2012-10-25  ...    726   國內   True       07_百貨
7395  29214  14318  19859 2012-10-30  ...    300   國內   True       09_餐飲
7458  29470   6619  19859 2012-11-06  ...    270   國內   True      16_無店舖
7549  29805   6619  19859 2012-11-14  ...   1573   國內   True       09_餐飲

[7664 rows x 10 columns]

## **Probabilities of Next Purchase**

In [ ]:
pnp = nbt.groupby(['刷卡產品產業分類','下次刷卡產品產業分類']).count()['刷卡類型'].reset_index()
pnp.set_index('刷卡產品產業分類', inplace=True)
pnp.rename(columns = {'刷卡類型' : '次數'}, inplace = True)

In [ ]:
sumall = pnp['次數'].sum()
pnp['機率'] = pnp['次數'] / sumall

In [ ]:
pnp.sort_values(by=['機率'], ascending=False).head(20)

            下次刷卡產品產業分類    次數        機率
刷卡產品產業分類
06_公用事業        06_公用事業  1612  0.210334
13_交通(含加值)  13_交通(含加值)   907  0.118346
12_量販超市        12_量販超市   707  0.092249
07_百貨            07_百貨   292  0.038100
11_3C居家電信    11_3C居家電信   263  0.034316
12_量販超市     13_交通(含加值)   152  0.019833
13_交通(含加值)     12_量販超市   150  0.019572
13_交通(含加值)       07_百貨    90  0.011743
07_百貨          12_量販超市    90  0.011743
09_餐飲            09_餐飲    86  0.011221
03_保險            03_保險    86  0.011221
12_量販超市          07_百貨    84  0.010960
13_交通(含加值)       10_藥妝    81  0.010569
10_藥妝       13_交通(含加值)    80  0.010438
13_交通(含加值)   11_3C居家電信    78  0.010177
11_3C居家電信   13_交通(含加值)    77  0.010047
14_旅遊            14_旅遊    72  0.009395
15_休閒文化     13_交通(含加值)    66  0.008612
07_百貨       13_交通(含加值)    66  0.008612
10_藥妝            10_藥妝    65  0.008481